# virtual environment dirs
.env/
.venv/
venv/

# sqlite db files
**/*.db
**/*.sqlite
**/*.sqlite3

# ide files
.idea/
.vs/
vs/
vscode/
.vscode/
.ropeproject/

# app specific stuff
plots/

**/*.pyc
**/*.pyo
**/__pycache__/